$maincolor:#ee7631;
$subcolor:#484344;

.black-texture {
    background: url('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/G6Q4loMCMVzDjolhP98EObpsb8mR4jCI1XHgAHOUWsmB6C9a03NdIpfiUKkWNJ5B3w9bxLZfl4FC72FSi2yg22D3ur3TBGFodP505g48nJcJBeTCZoTnhpd9jTpQiB4B.jpg') center;
    // backdrop-filter: brightness(70%);
    // background-attachment: fixed;
    background-size: 100%;
}
.white-texture {
    background: url('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/sQebyps3TwdjKfyu0su3v5DvmCcCtNwk4LCuG3rUSnl3GXvljPcUUMXE9PZgNHHdmd4bbeO75NuI8qKcWeWJSeIAZx64RPg7x5YRfFeToTCTrNjSN8xK94LwXh5EwSlq.jpg') center;
    background-size: cover;
    background-attachment: fixed;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

h1,h2,h3,h4,h5,a{
    margin-bottom: 0 !important;
}

.bold{
    font-weight: bold;
}

.black{
    font-weight: 900;
}
.noto{
    font-family: 'Noto Sans TC', sans-serif;
}
.marker{
    font-family: 'Permanent Marker', cursive, sans-serif;
}

.fz-3rem{
    font-size: 3rem;
}

.no-p15{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.z-10{
    position: relative;
    z-index: 10;
}

.vertical{
    writing-mode: vertical-lr 
}

