nav{
    position: relative;
    z-index: 99;
}

.navList{
    position: absolute;
    background: #fff;
    left: -500px;
    top: 50px;
    @include lg-width{
        position: relative;
        top: 0;
        left: 0;
    }
}
.show{
    top: 50px;
    left: 0;
}

.link{
    font-size: 18px;
}

.menuIcon{
    position: absolute;
    left: 0;
    top:7px;
}

.banner{
    @include lg-width{
        position: relative;
        margin-top: -48.72px;
    }
    
}

.bannerBg{
    background: url('https://images.unsplash.com/photo-1559329007-40df8a9345d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') center;
    background-size: cover;
    position: absolute !important;
    top: 50px;
    bottom: 0;
    @include lg-width{
        top: 0;
    }
}
.bannerOpacity{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50px;
    bottom: 0;
    @include lg-width{
        top: 0;
    }
}

.mainText{
    color: #fff;
    text-align: center;
    padding-top: 20vh;

    @include lg-width{
        color: #000;
        text-align: left;
        padding-top: 250px;
        padding-bottom: 250px;
    }
    
}